* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #4B4E6A;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    min-height: 34px;
}

.icon {
    margin-left: auto;
    width: 30px;
    height: 30px;
    background-color: rgb(172, 167, 167);
    border: 2px solid;
    border-radius: 100%;
}

.icon:hover {
    cursor: pointer;
}

aside {
    float: left;
    width: 190px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 15px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    padding-top: 10px;
    padding-bottom: 100px;
}

aside button {
    height: 60px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 35px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: #DEDEDE;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

aside .button {
    text-align: center;
    padding: 7px;
    width: fit-content;
    min-width: 150px;
    max-width: 150px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 35px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: #DEDEDE;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    white-space: pre-wrap;
}

aside .button:hover {
    cursor: pointer;
}

aside .button:active {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25) inset;
}

main {
    border-radius: 15px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    display: inline-block;
    max-width: 100%;
}

article {
    min-width: 400px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.33);
    background: #DBDBDB;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25) inset;
    padding: 10px;
    display: block;
    max-width: 100%;
}

#teacher-subjects {
    margin: 0 15px;
}

.subject ul {
    margin-left: 20px;
}

.subject ul li {
    margin: 3px 0;
    width: fit-content;
}

.subject ul li:hover {
    cursor: pointer;
    color: rgb(37, 76, 100);
}

aside form button {
    text-align: center;
    min-width: 150px;
    max-width: 150px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 35px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: #DEDEDE;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    white-space: pre-wrap;
}

aside form {
    width: fit-content;
}