.pop-up-menu {
    max-width: 150px;
    max-height: 500px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    border-top-left-radius: 0px;
    box-shadow: 0px 3px 5px 0px rgba(78, 78, 78, 0.25);
    overflow: hidden;
    min-height: fit-content;
    display: none;
    position: absolute;
    white-space: normal;
}

.pop-up-menu button {
    padding: 5px;
    width: 150px;
    background-color: rgba(237, 237, 237, 0.9);
    border: none;
    border-bottom: 1px solid rgb(204, 204, 204);
    background-color: none;
}

.pop-up-menu button:last-child {
    border: none;
}

.pop-up-menu button:hover {
    background-color: rgba(208, 208, 208, 0.9);
}